header {
    background-color: black;
    color: white;
    padding: 4em 3em 4em 3em;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    margin-top: 1.5em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

ul {
    list-style: none;
}

li:before {
    content: "\f069"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    padding-right: 1em;
}

.interests li:before {
    content: "\f08a";
}

p {
    margin-top: -1em;
}

a {
    text-decoration: none;
    color: salmon;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

a:visited {
    color: salmon;
}

i {
  color: white;
}

i:hover {
  color: goldenrod;
}

em {
  font-weight: bold;
}

/* CLASSES */
.contact {
  float: right;
  padding-top: 1.5em;
}

.exp {
  margin-top: 1.5em;
}

footer {
    padding: 4em 3em 4em 3em;
}

/* SILLY FIXES FOR SILLY PROBLEMS */
footer i {
  color: black;
}

.exp i {
  color: black;
}

.endnote {
  background-color: black;
  padding: 4em 3em 4em 3em;
}
